.container {
  animation: fade-in 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.itemCard {
  margin-block-start: 1rem;
  width: 65rem;
  background-color: var(--card);
  display: flex;
  flex-basis: 0;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 12px;
  max-width: 80%;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 0.85rem;
}

.headerContainer > p {
  max-width: 33ch;
  font-size: 0.85rem;
  text-align: left;
}

.headerContainer > h3 {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.price {
  font-weight: bold;
}

/* filtering bar */

.filteringBar {
  width: 1100px;
  padding-block: 1rem;
  background-color: var(--primary);
  color: var(--primary-foreground);
  border-radius: var(--radius);
  font-weight: 600;
  font-size: 1.25rem;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.barLabel {
  grid-column: 2 / 6;
}

.priceTag {
  grid-column: 12/14;
}

.locality {
  grid-column: 14/16;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
