h2 {
  padding-block: 1rem;
}

.login-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

form input {
  padding: 1rem;
  width: 17rem;
}
